OPEP:
Criada em 14 de setembro de 1960, a Organização dos Países Exportadores de Petróleo (OPEP) é uma organização intergovernamental, que tem como objetivo a centralização da elaboração das políticas sobre produção e venda do petróleo dos países integrantes.

Atualmente, os países membros da OPEP são: Argélia, Angola, Equador, Irã, Iraque, Kuwait, Líbia, Nigéria, Catar, Arábia Saudita, Emirados Árabes Unidos e Venezuela. A Indonésia suspendeu a sua adesão em janeiro de 2009. A sede da OPEP está localizada em Viena, capital da Áustria.

Perguntas:
    A criação de tal organização impacta na produção e exportação de petróleo do país?
    A adesão à mesma impacta na relevância que um país dá ao ramo de petróleo?
    Considerando um possível aumento na produção e na importância do petróleo recorrente da adesão ao grupo, há alguma consequência social para o país?

Hipóteses:
    Por conta da enorme importancia e influência do grupo na produção e venda de petróleo e visto a grande dependência que o petróleo pode causar em uma economia, cria-se a hipótese de que um país, ao entrar para tal grupo, aumente consideravelmente sua produçao e venda com relação a países que não se encontram no mesmo, criando uma economia muito baseada na venda do óleo e que apresenta enorme desigualdade já que quem enriquece, majoritariamente, são os donos de possos e companhias de extração de petróleo.

In [11]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [12]:
#Leitura dos arquivos em Excel
import os
meu_diretorio = "/Users\W10\Documents\Insper\Semestre 2\Ciencia dos dados"
os.chdir(meu_diretorio)

#Planilha da Produção de petróleo de cada país em cada ano (por tonelada):

prodpetrol = pd.read_excel('oil_production_total.xlsx')
prodpetrol=prodpetrol.set_index('country')
paises=['Algeria','Angola','Ecuador','Iran','Iraq','Kuwait','Libya','Nigeria','Qatar','Saudi Arabia','United Arab Emirates','Venezuela']
prodpetrol=prodpetrol.loc[:,[1965, 1980,2000,2015]]

#Definindo os membros da OPEP:

prodpetrol["OPEP"]=0
prodpetrol.loc[paises,'OPEP']=1
prodpetrol.OPEP = prodpetrol.OPEP.astype('category')
prodpetrol.OPEP.cat.categories = ("Não pertence", "Membro")
prodpetrol=prodpetrol.loc[:,['OPEP',1965, 1980,2000,2015]]
prodpetrol.head()

                    OPEP        1965        1980        2000      2015
country
Algeria           Membro  26500000.0  51800000.0  66800000.0  67200000
Angola            Membro    655000.0   7430000.0  36900000.0  88700000
Argentina   Não pertence  13800000.0  25300000.0  41400000.0  29800000
Australia   Não pertence    346000.0  21800000.0  37100000.0  17400000
Azerbaijan  Não pertence         NaN         NaN  14100000.0  41600000

Planilha da reservas de petróleo disponíveis para extração em cada país (em toneladas de óleo):

In [13]:
reserva = pd.read_excel('oil_proved_reserves_total.xlsx')
reserva=reserva.set_index('country')
reserva=reserva.loc[:,[1980,2000,2015]]
reserva[1965]='NaN'
reserva["OPEP"]=0
reserva.loc[paises,"OPEP"]=1
reserva.OPEP = reserva.OPEP.astype('category')
reserva.OPEP.cat.categories = ("Não pertence", "Membro")
reserva=reserva[['OPEP',1965,1980,2000,2015]]
reserva.head()

                    OPEP 1965          1980          2000        2015
country
Algeria           Membro  NaN  1.120000e+09  1.540000e+09  1660000000
Angola            Membro  NaN  1.880000e+08  8.150000e+08  1610000000
Argentina   Não pertence  NaN  3.350000e+08  4.060000e+08   327000000
Australia   Não pertence  NaN  2.900000e+08  6.740000e+08   543000000
Azerbaijan  Não pertence  NaN           NaN  1.610000e+08   955000000

Porcentagem dos combustíveis na exportação de mercadorias (%):

In [14]:
txpib = pd.read_excel('tx_val_fuel_zs_un.xlsx')
txpib=txpib.set_index('country')
txpib=txpib.loc[:,[1965, 1980,2000,2015]]
txpib["OPEP"]=0
txpib.loc[paises,"OPEP"]=1
txpib.OPEP = txpib.OPEP.astype('category')
txpib.OPEP.cat.categories = ("Não pertence", "Membro")
txpib=txpib[['OPEP',1965,1980,2000,2015]]
txpib.head(10)

                             OPEP   1965   1980    2000    2015
country
Afghanistan          Não pertence    NaN    NaN     NaN   3.450
Albania              Não pertence    NaN    NaN   1.850   8.810
Algeria                    Membro    NaN  98.40  97.200  94.300
Andorra              Não pertence    NaN    NaN   0.137   0.046
Angola                     Membro    NaN  78.00     NaN  95.000
Antigua and Barbuda  Não pertence    NaN    NaN     NaN     NaN
Argentina            Não pertence  0.616   3.46  17.700   2.610
Armenia              Não pertence    NaN    NaN  10.600   6.420
Australia            Não pertence  3.140  11.10  21.900  26.900
Austria              Não pertence  3.320   1.57   1.270   1.970

Coeficiente de Gini que mostra a desigualdade dos países:

In [15]:
indx_gini=pd.read_excel('inequality_index_gini.xlsx')
indx_gini=indx_gini.set_index('country')
indx_gini=indx_gini.loc[:,[1965,1980,2000,2015]]
indx_gini['OPEP']=0
indx_gini.loc[paises,"OPEP"]=1
indx_gini.OPEP=indx_gini.OPEP.astype('category')
indx_gini.OPEP.cat.categories= ("Nâo pertence", "Membro")
indx_gini=indx_gini[['OPEP',1965,1980,2000,2015]]
indx_gini.head()

                   OPEP  1965  1980  2000  2015
country
Albania    Nâo pertence   NaN   NaN   NaN   NaN
Algeria          Membro   NaN   NaN   NaN   NaN
Angola           Membro   NaN   NaN  52.0   NaN
Argentina  Nâo pertence   NaN  40.8  51.1   NaN
Armenia    Nâo pertence   NaN   NaN   NaN  32.4

Com os 4 Dataframes baixados e filtrados, foi criada uma função (def join) que recebe um dos anos escolhidos e retorna um Dataframe com as informações dos outros 4 desenvolvidos previamente.

In [16]:
#Função que retorna um join dos 4 dataframes feitos anteriormente em função do ano:
def join(ano):
    result=pd.DataFrame()
    result['country']=(prodpetrol.index)
    result=result.set_index("country")
    result['OPEP']=0
    result.loc[paises]=1
    result.OPEP = result.OPEP.astype('category')
    result.OPEP.cat.categories = ("Não pertence", "Membro")
    result['Produção de petróleo (toneladas)']=prodpetrol[ano]
    result['Reserva acessível (equivalente em toneladas)']=reserva[ano]
    result['% do combustível na exportação de mercadorias']=txpib[ano]
    result['Coeficiente de Gini']=indx_gini[ano]
    return result

In [17]:
# Dataframe final de 1965:
join(1965).head()

,OPEP,Produção de petróleo (toneladas),Reserva acessível (equivalente em toneladas),% do combustível na exportação de mercadorias,Coeficiente de Gini
country,,,,,
Algeria,Membro,26500000.0,NaN,NaN,NaN
Angola,Membro,655000.0,NaN,NaN,NaN
Argentina,Não pertence,13800000.0,NaN,0.616,NaN
Australia,Não pertence,346000.0,NaN,3.140,NaN
Azerbaijan,Não pertence,NaN,NaN,NaN,NaN

In [18]:
#Dataframe final de 1980:
join(1980).head()

,OPEP,Produção de petróleo (toneladas),Reserva acessível (equivalente em toneladas),% do combustível na exportação de mercadorias,Coeficiente de Gini
country,,,,,
Algeria,Membro,51800000.0,1.120000e+09,98.40,NaN
Angola,Membro,7430000.0,1.880000e+08,78.00,NaN
Argentina,Não pertence,25300000.0,3.350000e+08,3.46,40.8
Australia,Não pertence,21800000.0,2.900000e+08,11.10,NaN
Azerbaijan,Não pertence,NaN,NaN,NaN,NaN

In [19]:
#Dataframe final de 2000:
join(2000).head()

,OPEP,Produção de petróleo (toneladas),Reserva acessível (equivalente em toneladas),% do combustível na exportação de mercadorias,Coeficiente de Gini
country,,,,,
Algeria,Membro,66800000.0,1.540000e+09,97.2,NaN
Angola,Membro,36900000.0,8.150000e+08,NaN,52.0
Argentina,Não pertence,41400000.0,4.060000e+08,17.7,51.1
Australia,Não pertence,37100000.0,6.740000e+08,21.9,NaN
Azerbaijan,Não pertence,14100000.0,1.610000e+08,85.1,NaN

In [20]:
#Dataframe final de 2015:
join(2015).head()

,OPEP,Produção de petróleo (toneladas),Reserva acessível (equivalente em toneladas),% do combustível na exportação de mercadorias,Coeficiente de Gini
country,,,,,
Algeria,Membro,67200000,1660000000,94.30,NaN
Angola,Membro,88700000,1610000000,95.00,NaN
Argentina,Não pertence,29800000,327000000,2.61,NaN
Australia,Não pertence,17400000,543000000,26.90,NaN
Azerbaijan,Não pertence,41600000,955000000,87.00,NaN